{% extends "base" %}
{% block title %}Error{% endblock title %}
{% block content %}
<div style="text-align:center;">
<h1>404 - Not found.</h1>
<p>The page does not exist! <a href="/">Go back.</a></p>
</div>
{% endblock content %}
