<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="/index.css" />
    <title>{% block title %}{% endblock title %} - ilmari.dev</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock head %}

</head>
<body>
	{% block navbar %}
	{% endblock navbar %}
    <div id="content">{% block content %}{% endblock content %}</div>
    <div id="footer">
        {% block footer %}
        &copy; 2022 www.ilmari.dev
        {% endblock footer %}
    </div>
</body>
</html>
