{% extends "base" %}
{% block title %}Blog{% endblock title %}
{% block content %}
	<p>Posts about various software development related topics.</p>
	<p>Filter by tag:</p>
	{% for post in posts %}
		{% include "blog_post_listing" %}
		<div class="post-break"></div>
	{% endfor %}

{% endblock content %}
