{% extends "base" %}
{% block title %}Blog{% endblock title %}
{% block content %}
	<p>Posts about various software development related topics.</p>
	<p>Filter by tag:</p>
	{% block tags %}{% endblock tags %}

{% endblock content %}
